{% extends 'store/base.html' %}
{% load static %}

{% block title %}Store{% endblock %}

{% block content %}
    <br>
    <div class="row row-cols-1 row-cols-md-3">
        {% for product in products %}
            <div class="col mb-4">
                <div class="card">
                    <img height=240 src="{{ product.imageURL }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <hr>
                        <button data-product="{{ product.id }}" data-action="add"
                                class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block; float: right;" >${{ product.price }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}